*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color:black;
}   

body{
    background-color: white;
    text-align:center;
}

h1{
    text-align:center;
    margin-top:20px;
}

button{
    color:white;
    font-size:15px;
    font-weight:bold;
    background-color:rgb(106, 18, 18);
    border-radius:5px;
    padding:10px 20px;
    border-width:0px;
    margin-top:20px;
}